header { 
    background-color: white;
}
main {
    background-color: rgb(190, 244, 253);
}
footer {
    background-color: white;
}
.logo{
    width: 500px;
}
.img1{
    width: 500px;
}
.img2 {
    width: 600px;
}
.img3 {
    width: 600px;
}
.fn {
    width: 300px;
}
header { 
    text-align: center;
}
main {
    text-align: center;
}
footer {
    text-align: center;
}

